<main class="holder contacto">
      <h2>Podes contactarnos por los siguientes Medios</h2>
      <div id="mensaje" class="mensaje">
                {{#if message}}<p class="alerta" id="alerta">{{message}} <i onclick="funcion()" class="fas fa-times"> </i></p>{{/if}}
            </div>
      <div class="medios">
        <div>
          <form action="/contacto" method="POST" class="formulario">
            <h3>Envienos su Consulta</h3>
            <p>
              <label for="nombre">Nombre:</label>
              <input type="text" name="nombre" id="nombre" placeholder="Ingrese su Nombre...">
            </p>
            <p>
              <label for="apellido">Apellido:</label>
              <input type="text" name="apellido" id="apellido" placeholder="Ingrese su Apellido...">
            </p>
            <p>
              <label for="tel">Telefono:</label>
              <input type="number" name="tel" id="tel" placeholder="Ingrese su Telefono...">
            </p>
            <p>
              <label for="email">Email:</label>
              <input type="email" name="email" id="email" placeholder="Ingrese su Email...">
            </p>
            <p>
              <label for="comentario">Comentarios:</label>
              <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Haga sus comentarios..."></textarea>
            </p>
            <p>
              <input type="submit" value="Enviar">
              <input type="reset" value="Borrar">
            </p>
          </form>
        </div>
        <div class="otros">
          <h3>Tambien por estos medios o en nuestras Redes Sociales</h3>
          <ul>
            <li><i class="icono fas fa-phone"></i> 011-4589 5432</li>
            <li><i class="icono fab fa-whatsapp"></i> 011-15097531</li>
            <li><i class="icono far fa-envelope"></i> duplexflama@gmail.com</li>
            <li><i class="icono fab fa-facebook-square"></i> www.facebook.com/duplexflama</li>
            <li><i class="icono fab fa-instagram"></i> @duplexflama</li>
            <li><i class="icono fab fa-twitter"></i> @duplexflamaok</li>
          </ul>          
        </div>
      </div>        
    </main>
    <script src="/javascripts/script.js"></script>
