<main class="holder galeria">
      <h2>Galeria de Fotos</h2>
      <div class="carrusel">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/galeria/foto01.jpg" class="d-block w-100" alt="playa">
              </div>
              <div class="carousel-item">
                <img src="images/galeria/foto02.jpg" class="d-block w-100" alt="playa">
              </div>
              <div class="carousel-item">
                <img src="images/galeria/foto03.jpg" class="d-block w-100" alt="bosque">
              </div>
              <div class="carousel-item">
                <img src="images/galeria/foto04.jpg" class="d-block w-100" alt="caminata">
              </div>
              <div class="carousel-item">
                <img src="images/galeria/foto05.jpg" class="d-block w-100" alt="caminata">
              </div>
              <div class="carousel-item">
                <img src="images/galeria/foto06.jpg" class="d-block w-100" alt="playa">
              </div>
              <div class="carousel-item">
                <img src="images/galeria/foto07.jpg" class="d-block w-100" alt="rio">
              </div>
              <div class="carousel-item">
                <img src="images/galeria/foto08.jpg" class="d-block w-100" alt="libro">
              </div>
              <div class="carousel-item">
                <img src="images/galeria/foto09.jpg" class="d-block w-100" alt="playa">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <hr>
        <div class="fotos">
          <div class="foto">
            <img src="images/galeria/mini/foto01.jpg" alt="playa">
          </div>
          <div class="foto">
            <img src="images/galeria/mini/foto02.jpg" alt="playa">
          </div>
          <div class="foto">
            <img src="images/galeria/mini/foto03.jpg" alt="bosque">
          </div>
          <div class="foto">
            <img src="images/galeria/mini/foto04.jpg" alt="caminata">
          </div>
          <div class="foto">
            <img src="images/galeria/mini/foto05.jpg" alt="caminata">
          </div>
          <div class="foto">
            <img src="images/galeria/mini/foto06.jpg" alt="playa">
          </div>
          <div class="foto">
            <img src="images/galeria/mini/foto07.jpg" alt="rio">
          </div>
          <div class="foto">
            <img src="images/galeria/mini/foto08.jpg" alt="leer">
          </div>
          <div class="foto">
            <img src="images/galeria/mini/foto09.jpg" alt="playa">
          </div>
        </div>
    </main>