<main class="holder home">
        <h2>Bienvenidos Al Sitio Oficial de Duplex Flama</h2>
        <h3>Comodidades</h3>
        <div class="contenedor">
            <div class="contenido">
                <div class="calesita">
                    <div class="img carousel-item active">
                        <img  src="images/home/habitacion01.jpg" class="d-block w-100" alt="habitacion">
                     </div>                        
                </div>
                <div class="descripcion">
                    <h4>Habitaciones</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ratione, illo expedita ad doloremque nobis, tenetur, hic similique cupiditate in fuga voluptas. Ea facilis amet nemo inventore similique. Inventore, laudantium!</p>
                </div>
            </div>
            <div class="contenido1">
                <div class="calesita right">
                    <div class="img carousel-item active">
                        <img src="images/home/quincho01.jpg" class="d-block w-100" alt="quincho">
                    </div>
                </div>      
                <div class="descripcion">
                    <h4>Quincho y Parrilla</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ratione, illo expedita ad doloremque nobis, tenetur, hic similique cupiditate in fuga voluptas. Ea facilis amet nemo inventore similique. Inventore, laudantium!</p>
                </div>
            </div>
            <div class="contenido">
                <div class="calesita left">
                    <div class="img carousel-item active">
                        <img src="images/home/pileta03.jpg" class="d-block w-100" alt="pileta">
                    </div>                        
                </div>
                <div class="descripcion">
                    <h4>Pileta</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ratione, illo expedita ad doloremque nobis, tenetur, hic similique cupiditate in fuga voluptas. Ea facilis amet nemo inventore similique. Inventore, laudantium!</p>
                </div>
            </div>
        </div>
    </main>
