<main class="holder propiedad">
        <h2>Ubicacion</h2>
        <div class="efecto1"><img src="images/propiedad/foto01.jpg" alt="mapa"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, ipsum facilis impedit vero recusandae harum magnam repudiandae pariatur voluptatem, ab numquam quaerat eligendi necessitatibus consequatur delectus sunt quae possimus illo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quos ut reprehenderit doloribus tempore ea corrupti repellendus tempora labore id saepe voluptates, enim culpa adipisci eveniet ducimus earum laudantium iusto. </p>
        <div class="argumento">  
          <h3>Accesos</h3>
          <div class="padre">
            <div class="argimg hijo"><img src="images/propiedad/foto02.jpg" alt="ruta"></div>
            <p class="hijo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque mollitia dicta facere ullam beatae odit porro minima nemo iure libero aspernatur hic quis culpa impedit tenetur dolore numquam dolorem.</p>
          </div>
        </div>
        <div class="argumento1">
          <h3>Espacio y Recreacion</h3>
          <div class="padre1">
            <div class="argimg hijo"><img src="images/propiedad/foto03.jpg" alt="pesca"></div>
            <p class="hijo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, quae debitis ducimus molestias maiores hic omnis quasi eum itaque quas! Perspiciatis inventore nobis cupiditate magni, ex quis a asperiores itaque.</p>
          </div>
        </div>
    </main>