<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duplex Flama</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Newsreader:wght@300;400;500;600;800&family=Pattaya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" media="(min-width:769px)" href="/stylesheets/duplexflama.css">
    <link rel="stylesheet" media="(max-width:768px)" href="/stylesheets/movilduplexflama.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
  </head>
  <body>
    <header>
        <div class="holder header">
            <div class="headimg"><img src="/images/home/foto01.jpg" alt="casa"></div>
            <h1 class="reflejo">Duplex Flama</h1>
        </div>         
    </header>
        <div class="movilnav" style="padding: 6px 0px;">            
            <h1>Duplex Flama</h1>
        </div>
    {{{body}}}
    <footer>
        <p>Diseñado por Matias Escobar-&copy;2021</p>
        <ul class="redes">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>