<div class="container">
    <div class="row">
        <div class="col-9 col-md-6 col-lg-6 col-xl-6 col-xxl-4 mx-auto">
            <form action="/admin/login" method="POST" class="formadmin">
                <div class="mb-3">
                    <label for="usuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su Usuario..." name="usuario">
                    </div>
                    <div class="mb-3">
                    <label for="contraseña" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su Contraseña..." name="password">
                    </div>
                    <div class="col-auto boton">
                        <button type="submit" class="btn inicio mb-3">Iniciar Sesión</button>
                    </div>
                </div>
            </form>
            {{#if error}}
            <p class="alerta incorrecto">El Usuario o la Contraseña son Incorrectos!...</p>
            {{/if}}
        </div>
    </div>
</div>