<main class="holder historia">
        <h2>Historia</h2>
        <div class="caja">
            <div class="adentro">
                <h3>Antecedentes</h3>
                <div>
                    <div class="right"><img src="images/historia/foto01.jpg" alt="Banda"></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium molestiae doloremque mollitia? Molestias nulla iusto atque delectus, amet itaque optio consequuntur minima iste beatae, sunt tempora alias placeat aliquam nostrum Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta velit tempore explicabo veniam dolores rem excepturi rerum magni, sapiente animi sed odio dignissimos harum aut neque beatae odit fuga quam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum culpa accusantium optio odio eaque similique nihil animi dolorum iusto corrupti voluptas provident delectus molestiae earum in, ut dignissimos iste impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ab dolor numquam assumenda pariatur cumque, sapiente, animi distinctio perferendis reiciendis, eius adipisci sunt cupiditate dolore itaque cum quos consequuntur ullam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, porro minus officiis beatae alias consequatur blanditiis sapiente dolorem quaerat consequuntur enim deleniti dolor, error, nesciunt assumenda ex eum ab officia. </p>
                </div>
            </div>
            <hr>
            <div class="adentro">
                <h3>Sus Inicios</h3>
                <div>
                    <div class="left"><img src="images/historia/foto02.jpg" alt="Banda"></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt mollitia officiis rem quae laudantium? Vitae, soluta quas cumque atque incidunt ducimus libero ad mollitia velit, alias ipsum facere qui voluptatum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum culpa accusantium optio odio eaque similique nihil animi dolorum iusto corrupti voluptas provident delectus molestiae earum in, ut dignissimos iste impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ab dolor numquam assumenda pariatur cumque, sapiente, animi distinctio perferendis reiciendis, eius adipisci sunt cupiditate dolore itaque cum quos consequuntur ullam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, porro minus officiis beatae alias consequatur blanditiis sapiente dolorem quaerat consequuntur enim deleniti dolor, error, nesciunt assumenda ex eum ab officia.</p>
                </div>
            </div>
            <hr>
            <div class="adentro">
                <h3>Hoy en Dia</h3>
                <div>
                    <div class="right"><img src="images/historia/foto03.jpg" alt="banda"></div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit officia aut eligendi, quam mollitia minus vero quas consectetur recusandae, repellendus quidem fugiat tempore doloribus. Voluptate unde in ducimus dolore beatae.</p>
                </div>
            </div>
            <hr> 
        </div>    
    </main>