<main class="holder">
        <div>
            <h2>Integrantes de Colgados de la Red</h2>
        </div>
        <div class="integrantes">
            <div class="integrante">
                <div class="efecto1"><img src="images/integrantes/foto01.jpg" alt="vocalista"></div>
                <h4>Pedro "Indio" Sorini</h4>
                <h5>Vocalista</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste consectetur, nostrum facilis dolore laborum enim, quasi eum dolor expedita libero quos reiciendis laboriosam id atque qui? Eligendi voluptates molestias corrupti!</p>
            </div>
            <div class="integrante">
                <div class="efecto1"><img src="images/integrantes/foto02.jpg" alt="bajista"></div>
                <h4>Ricardo "Cebolla" Dorio</h4>
                <h5>Bajista</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste consectetur, nostrum facilis dolore laborum enim, quasi eum dolor expedita libero quos reiciendis laboriosam id atque qui? Eligendi voluptates molestias corrupti!</p>
            </div>
            <div class="integrante">
                <div class="efecto1"><img src="images/integrantes/foto03.jpg" alt="guitarrista"></div>
                <h4>Norberto "Carpa" Carpeloti</h4>
                <h5>Guitarra Solista</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste consectetur, nostrum facilis dolore laborum enim, quasi eum dolor expedita libero quos reiciendis laboriosam id atque qui? Eligendi voluptates molestias corrupti!</p>
            </div>
            <div class="integrante">
                <div class="efecto1"><img src="images/integrantes/foto04.jpg" alt="guitarrista ritmico"></div>
                <h4>Eduardo "Spray" Batistuta</h4>
                <h5>Guitarra Ritmica</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste consectetur, nostrum facilis dolore laborum enim, quasi eum dolor expedita libero quos reiciendis laboriosam id atque qui? Eligendi voluptates molestias corrupti!</p>
            </div>
            <div class="integrante">
                <div class="efecto1"><img src="images/integrantes/foto05.jpg" alt="saxofonista"></div>
                <h4>Sergio "Flaco" Nawi</h4>
                <h5>Saxofon</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste consectetur, nostrum facilis dolore laborum enim, quasi eum dolor expedita libero quos reiciendis laboriosam id atque qui? Eligendi voluptates molestias corrupti!</p>
            </div>
            <div class="integrante">
                <div class="efecto1"><img src="images/integrantes/foto06.jpg" alt="baterista"></div>
                <h4>Alberto "Piojo" Sidoti</h4>
                <h5>Percucion</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste consectetur, nostrum facilis dolore laborum enim, quasi eum dolor expedita libero quos reiciendis laboriosam id atque qui? Eligendi voluptates molestias corrupti!</p>
            </divages
        </div>
    </main>