<main class="holder novedades">
        <h2>Recitales y Eventos Proximas Fechas</h2>
        <div class="eventos">
            <div>
                <h3>Fecha</h3>
                <h4>Lugar</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit excepturi obcaecati ratione architecto voluptatum aperiam nemo quisquam expedita dolore optio voluptatibus placeat recusandae dolor, laborum debitis praesentium laboriosam qui accusamus.</p>
            </div>
            <hr>
            <div>
                <h3>Fecha</h3>
                <h4>Lugar</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit excepturi obcaecati ratione architecto voluptatum aperiam nemo quisquam expedita dolore optio voluptatibus placeat recusandae dolor, laborum debitis praesentium laboriosam qui accusamus.</p>
            </div>
            <hr>
        </div>
    </main>